:root{

     --primary-color: #1BB275;
     --secondary-color: #102C5B;
     --font-color: #ffffff;
     --tetiary-color: #999999;
     --black-color:#000000; 
}


body{

    background-color: var(--font-color);
    font-family: "Noto Sans", sans-serif;
  
}


p{
 font-family: 'Poppins';
 font-style: normal;
  font-size: 12px;
  color: var(--black-color);
  
}


a{

    color:  var(--primary-color);
}


i{

    color:  var(--primary-color);
}

.wrapper{

    display: flex;
    justify-content: space-between;
    
}

.left-panel{

    display: flex;
    padding-left: 150px ;
    align-items:center;
   

}

.left-panel p{

    padding-right: 18px;
}

.left-panel i{

    padding-right: 5px;
}

.right-panel{

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 150px;
}

.right-panel a{

    padding-right: 10px;
    cursor: pointer;
    text-decoration: none;
}


nav{

    display: flex;
}

.logo{
    
    font-family: "Noto Sans", sans-serif;
    color: #102C5B;
    padding-right: 215px;
    padding-left: 143px;

    

}

.logo span{
 color: var(--primary-color);   
}

ul{

    padding-right: 210px;
    display: flex;
    justify-content: space-between;
    list-style-type:none;

}

ul li{
    padding-right: 15px;
   
   
}

ul li a{

    text-decoration: none;
 
}

button{
    width: 161px;
    height: 50px;
    background-color:var(--primary-color);
    color: var(--font-color);
    border: none;
    padding: none;
    border-radius: 5px;
    cursor: pointer;
    
}


